<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="robots" content="noindex, nofollow">
<title>{% block title %}{{ cfg.ui.site_title }}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body{% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='app.js') }}" defer></script>
</body>
</html>
